

.container {
  --light: hsl(0, 0%, 100%);
  --background: linear-gradient(
    to right bottom,
    hsl(236, 50%, 50%),
    hsl(195, 50%, 50%)
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
  position: absolute;
  top: 1rem; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  margin: auto;
}

.modalOverlay{
  position: fixed;
  inset: 0;
  width: 120vw;
  top: -1rem;
  height: 110vh;
  z-index: 99;
  backdrop-filter: blur(30px);
  transform: translateX(-16%);
    overflow-x: hidden;

}

.modal_container {
  position: relative;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.modal {
  width: clamp(20rem, 80vw, 50rem);
  padding: clamp(1.5rem, 2vw, 3rem) clamp(1rem, 2vw, 1rem);
  border-radius: 0.8rem;
  color: var(--light);
  background: var(--background);
  box-shadow: 0.4rem 0.4rem 2.4rem 0.2rem hsla(236, 50%, 50%, 0.3);
  position: relative;
  overflow: hidden;
}

.modal__details {
  text-align: center;

  margin-bottom: clamp(2rem, 4vw, 4rem);
  padding-bottom: clamp(2rem, 4vw, 4rem);
  border-bottom: 5px solid hsla(0, 0%, 100%, 0.4);
}

.modal__title {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  margin-bottom: clamp(1.5rem, 2vw, 2rem);
}

.game__description {
  

  font-size: clamp(.5rem, 2vw, 1.2rem);
  font-weight: bold;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(10rem, 20vw, 25rem), 1fr));
  grid-template-rows: 1fr 1fr;
  gap: clamp(1rem, 2vw, 2rem);
}

.game__description > *:nth-child(-n+4) {
  grid-column: span 2;
}

.gameStatus {
  padding: 0 clamp(2rem, 4vw, 4rem);

  font-size: clamp(1rem, 2vw, 1.2rem);
  line-height: 2;
}

.gameStatus::before {
  content: '';

  position: absolute;
  top: 0%;
  left: 100%;
  transform: translate(-50%, -50%);

  width: clamp(18rem, 30vw, 25rem);
  height: clamp(18rem, 30vw, 25rem);
  border: 2px solid hsla(0, 0%, 100%, 0.2);
  border-radius: 100rem;

  pointer-events: none;
}


.openBtn {
  font-size: clamp(1rem, 2vw, 1.2rem);

  color: var(--light);
  background: var(--background);
  box-shadow: 0.4rem 0.4rem 2.4rem 0.2rem hsla(236, 50%, 50%, 0.3);
  border-radius: 100rem;
  padding: clamp(1rem, 2vw, 1.5rem) clamp(1.2rem, 2vw, 1.6rem);

  transition: 0.2s;
  border: none;
  cursor: pointer;
}

.openBtn:hover,
.openBtn:focus {
  transform: translateY(-0.2rem);
  box-shadow: 0 0 4.4rem 0.2rem hsla(236, 50%, 50%, 0.4);
}

.closeBtn {
  width: clamp(4rem, 6vw, 5rem);
  height: clamp(4rem, 6vw, 5rem);
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  border-radius: 100rem;

  color: inherit;
  font-size: clamp(2.2rem, 4vw, 2.5rem);

  position: absolute;
  top: clamp(2rem, 4vw, 2.5rem);
  right: clamp(2rem, 4vw, 2.5rem);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s;
  background: transparent;
  cursor: pointer;
}

.closeBtn::before {
  content: '×';
  transform: translateY(-0.1rem);
}

.closeBtn:hover,
.closeBtn:focus {
  transform: translateY(-0.2rem);
  color: maroon;
  scale: 1.1;
}

